<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Post</title>
    <style>
      /* Add custom CSS */
      #user-dropdown {
          position: absolute;
          top: 3rem; /* Adjust this value as needed */
          right: 2rem; /* Adjust this value as needed */
      }
  </style>

    
</head>
<body class="bg-yellow-50">


  <div class="max-w-screen-md mx-auto mt-8 px-4">
    <h1 class="text-center text-2xl font-bold mb-4">ลบความคิดเห็น</h1>
    {% include 'social_app/comment.html' %}
    <p class="my-6 text-center">คุณต้องการลบความคิดเห็นนี้หรือไม่?</p>
    <form action="" method="POST" class="flex justify-center">
      {% csrf_token %}
      <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 mr-2">ยืนยัน</button>
      <a href="{{ referer_url }}" class="text-gray-600 px-4 py-2 hover:text-gray-900">ย้อนกลับ</a>
    </form>
  </div>
  
<script>
  // Get the menu icon and the user menu
  const menuIcon = document.getElementById('menu-icon');
  const userMenu = document.getElementById('navbar-user');

  const profileImageButton = document.getElementById('user-menu-button');
  const userDropdownMenu = document.getElementById('user-dropdown');


  
  menuIcon.addEventListener('click', function() {
    userMenu.classList.toggle('hidden');
  });

  profileImageButton.addEventListener('click', function() {
    userDropdownMenu.classList.toggle('hidden');
  });

  


</script>

</body>


</html>