<div class="max-w-4xl py-4 xl:px-12 flex justify-center mx-auto bg-yellow-200 border border-white shadow-xl" >
    <div class="w-full ">
      <div class="max-w-5xl mx-auto p-4">
          <div class="flex items-center mb-4">
              <div class="flex-shrink-0">
                  <img src="{{ comment.user.profile.profileimg.url }}" alt="" class="object-cover w-12 h-12 rounded-full">
              </div>
              <div class="ml-4">
                  <h3 class="text-lg font-semibold text-gray-800">{{ comment.user.username }}</h3>
                  <p class="text-sm text-gray-600">{{ comment.created_at }}</p>
              </div>
            </div>
          <div>
              <p class="text-base text-gray-800 break-words">{{ comment.content }}</p>
              <!-- Display comment images -->
              {% for comment_image in comment.postcommentimage_set.all %}
              <div class="mt-2 w-32 h-32 object-cover rounded-lg">
                  <img src="{{ comment_image.image.url }}" alt="Comment Image" class="w-full h-auto">
              </div>
              {% endfor %}
          </div>
          <div class="flex items-center gap-4 [&>a:hover]:underline">
              <!-- Likes comment -->
              {% include 'social_app/likes_comment.html' %}
              
              {% if comment.replies.count %}
              <div class="flex gap-1">
                  <a>Replies</a>
                  <span id="repliescount-{{ comment.id }}" class="font-light text-gray-700">{{ comment.replies.count }}</span>
              </div>
              {% endif %}
  
              {% if user.is_authenticated and comment.user == user %}
              <div>
                  <a href="{% url 'comment-delete' comment.id %}" class="text-gray-600 hover:text-gray-800"><i class="fas fa-trash-alt"></i></a>
              </div>
              {% endif %}
          </div>
  
          <!-- Display replies -->
          <div class="mt-4">
              {% for reply in comment.replies.all %}
              <div class="flex items-center ">
                  {% include 'social_app/reply.html' %}
              </div>
              {% endfor %}
          </div>
  
          <!-- Form for replying to the comment -->
          <div class="mt-4">
              <form class="replyform flex" autocomplete="off" enctype="multipart/form-data" 
              hx-post="{% url 'reply-sent' comment.id %}" 
              hx-target="this"
              hx-swap="outerHTML">
                  {% csrf_token %}
                  <div class="pr-4">
                      {{ replyform.content }}
                      <button class="text-gray-800 text-sm font-bold pl-2" type="submit">Reply</button>
                  </div>
                  
              </form>
          </div>
          
      </div>
  
    </div>
  </div>
  