<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event calendar page</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <style>
        #user-dropdown {
          position: absolute;
          top: 3rem;
          right: 2rem;
      }
      .fc-day-grid-event {
        color: #6C855D;
        background: #FAF5ED;
        border: 2px solid #6b7280;
      }
      .fc-content {
        color: #6b7280;
      }
      .logo-font {
        font-family: 'Pacifico', cursive;
      }
    </style>
</head>
<body class="bg-gray-200">

    <nav class="fixed top-0 z-50 px-12 py-2 w-full bg-yellow-400 border-b border-white">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
          <div class="flex items-center justify-between px-6">
            <div class="flex items-center justify-start rtl:justify-end">
              <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" id="menu-icon" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
                  <span class="sr-only">Open sidebar</span>
                  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                     <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                  </svg>
               </button>
              <a href="{% url 'home' %}" class="flex ms-2 md:me-24">
                <span class="logo-font text-white self-center text-xl font-semibold sm:text-2xl whitespace-nowrap">MyUni</span>
              </a>
            </div>
            <div class="flex items-center">
                <a class="text-white logo-font p-2 px-2" href="{% url 'event_from_calendar' %}">+ New Event</a>
                <a href="{% url 'home' %}" class="text-white logo-font p-2 px-2">Home</a>
                <div class="flex items-center ms-3">
                  <div>
                    <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300" aria-expanded="false" id="user-menu-button" data-dropdown-toggle="user-dropdown">
                      <span class="sr-only">Open user menu</span>
                      <img class="w-8 h-8 rounded-full" src="{{ user.profile.profileimg.url }}" alt="{{ profile.user.username }}">
                    </button>
                  </div>
                  <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow" id="user-dropdown">
                    <div class="px-4 py-3" role="none">
                      <p class="text-sm text-gray-900" role="none">{{ user.profile.user.username }}</p>
                      <p class="text-sm font-medium text-gray-900 truncate" role="none">{{ user.profile.user.email }}</p>
                    </div>
                    <ul class="py-1" role="none">
                      <li>
                        <a href="{% url 'profile' user.username %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
                      </li>
                      <li>
                        <a href="{% url 'logout_user' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Logout</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </nav>

    <div class="container mx-auto p-4">
        <div class="flex flex-col">
            <h4 class="text-xl font-semibold mb-4">Event Calendar for MyUni</h4>
            <div class="w-full px-36 pt-16">
                <div id="calendar" class="w-full p-12 bg-yellow-50 shadow-lg"></div>
            </div>
        </div>
    </div>

   

    <script>
        $(document).ready(function () {
            var calendar = $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: '/all_events',
                selectable: true,
                selectHelper: true,
                editable: true,
                eventLimit: true,
                eventClick: function(event) {
                  window.location.href = '/event_details/' + event.id;
                }
            });
        });





        //menuicon
        const menuIcon = document.getElementById("menu-icon");
        const sidebar = document.getElementById("logo-sidebar");

        menuIcon.addEventListener("click", function() {
            sidebar.classList.toggle("-translate-x-full");
        });

        const profileImageButton = document.getElementById('user-menu-button');
        const userDropdownMenu = document.getElementById('user-dropdown');

        profileImageButton.addEventListener('click', function() {
            userDropdownMenu.classList.toggle('hidden');
        });
    </script>
</body>
</html>