<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Event remove</title>
</head>
<body class="bg-yellow-50">
    <div class="flex items-center justify-center mt-10">
        <div class="bg-yellow-400 bg-opacity-75 px-8 py-4" style="height: 40vh; width: 40vw;">
            <h1 class="text-xl font-bold text-center text-white">ลบกิจกรรมนี้</h1>
            <div class="bg-yellow-50 rounded p-6 mt-6">
                <form action="" method="POST">
                    {% csrf_token %}
                    <p class="pb-6">คุณแน่ใจหรือไม่ ต้องการลบกิจกรรมนี้?</p>
                    <button class="bg-red-500 text-white py-1 px-3 rounded" type="submit">ยืนยันการลบ</button>
                    <a href="{{ referer_url }}" class="text-gray-600 px-4 py-2 hover:text-gray-900">ย้อนกลับ</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>