<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Post</title>
    <style>
      #user-dropdown {
          position: absolute;
          top: 3rem; 
          right: 2rem; 
      }
      .logo-font {
        font-family: 'Pacifico', cursive;
      }
  </style>

    
</head>
<body class="bg-yellow-50">
  

  <nav class="bg-yellow-400 border border-white">
    <div class="flex flex-wrap items-center justify-between mx-auto p-4 px-12">

      <button class="self-center text-2xl logo-font text-white font-semibold whitespace-nowrap"><a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">MyUni</a></button>
    
      <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <a href="{% url 'home' %}" class="flex pr-4 ms-2 text-white logo-font md:me-24">Home</a>
        <div class="text-white logo-font pr-4">
          <a href="{% url 'feed' %}?id={{ post.place.id }}">ย้อนกลับ</a>
        </div>
          <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
            <span class="sr-only">Open user menu</span>
            <img class="w-8 h-8 rounded-full" src="{{ profile.profileimg.url }}" alt="{{ profile.user.username }}">
          </button>
          <!-- Dropdown menu -->
          <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
            <div class="px-4 py-3">
              <span class="block text-sm text-gray-900 dark:text-white">{{ profile.user.username }}</span>
              <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{ profile.user.email }}</span>
            </div>
            <ul class="py-2" aria-labelledby="user-menu-button">
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:text-white hover:bg-yellow-400 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Feed</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:text-white hover:bg-yellow-400 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Notification</a>
              </li>
              <li>
                <a href="{% url 'logout_user' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-200">Logout</a>
              </li>
            </ul>
          </div>
          <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-600 rounded-lg md:hidden hover:bg-yellow-100 focus:outline-none focus:ring-1 focus:ring-gray-50 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false" id="menu-icon">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
      </div>
    
    </div>
  </nav>


  <div class="mx-20 mt-2">
    <div class="px-10 pt-10 mx-auto">
      <!-- Main content -->
      <div class="max-w-5xl px-10 py-6 mx-auto bg-yellow-200 shadow-xl border border-white">

        <div class="mt-2">
          <h1 class="sm:text-3xl md:text-2xl lg:text-2xl xl:text-2xl font-bold text-gray-900">{{ post.title }}</h1>
          <div class="flex justify-start items-center mt-2">
            <p class="text-xs text-gray-500 ml-5">{{ post.created_at }}</p>
          </div>

          <div class="font-light text-gray-600">
            <a href="{% url 'profile' post.user.username %}" class="flex items-center mt-6 mb-6"><img
              src="{{ post.user.profile.profileimg.url }}" alt="" class="hidden object-cover w-14 h-14 mx-4 rounded-full sm:block">
              <p class="font-bold text-gray-600">@{{ post.user.username }}</p>
            </a>
          </div>
        </div>

        <!--post content-->
        <div class="max-w-4xl px-10 mx-auto">
          <div>
            <p class="mt-2 p-8 text-md text-gray-800 ">{{ post.content }}</p>
          </div>
          {% if post.images.all %}
            <div class="p-8">
              {% for image in post.images.all %}
                  <img src="{{ image.image.url }}" alt="Post image" class="w-full" style="max-height: 300px; max-width: 300px; object-fit: cover;">
              {% endfor %}
            </div>
          {% endif %}  
        </div>

        
        <div class="flex items-center gap-6 [&>a:hover]:underline">

          {% include 'social_app/likes.html' %}
          <!-- comment -->
          <a href="" class="flex items-center">
            <svg fill="none" viewBox="0 0 24 24" class="w-4 h-4 mr-1" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"/>
            </svg>
            <span id="commentscount-{{ post.id }}" class="pl-2">{{ post.comments.count }}</span>
          </a>
        </div>

          
        </div>

      </div>
  </div>




<!--form comments-->
<div class="max-w-4xl py-6 xl:px-8 flex justify-center mx-auto">     
  <div class="w-full mt-16 md:mt-0">
    <form class="relative text-gray-800 z-10 h-auto p-8 py-10 overflow-hidden bg-yellow-200 border border-white shadow-2xl px-7"  enctype="multipart/form-data"
    hx-post="{% url 'comment-sent' post_id=post.id %}" 
    hx-target="#comments-section"
    hx-swap="afterbegin"
    _="on htmx:afterRequest reset() me" >
      {% csrf_token %}
      <h3 class="mb-6 text-md text-center text-gray-700 font-bold">แสดงความคิดเห็น</h3>
      <div class="">
        {{ commentform.content }}
      </div>
      <div class="mt-4">
        <button type="submit" class="text-white bg-gray-800 py-2.5 px-4 text-sm font-medium">ส่ง</button>
      </div>
    </form>
  </div>
</div>
  

<!--comments section-->
<div id="comments-section" class="pb-8">
  {% for comment in post.comments.all %}
  {% include 'social_app/comment.html' %}
  {% endfor %}
</div>

</div>
</div>
</div>
</div>
 

<script>
  // Get the menu icon and the user menu
  const menuIcon = document.getElementById('menu-icon');
  const userMenu = document.getElementById('navbar-user');

  menuIcon.addEventListener('click', function() {
    userMenu.classList.toggle('hidden');
  });

  const profileImageButton = document.getElementById('user-menu-button');
  const userDropdownMenu = document.getElementById('user-dropdown');

  profileImageButton.addEventListener('click', function() {
    userDropdownMenu.classList.toggle('hidden');
  });

  //reply handle
  const replyIcon = document.getElementById('reply-icon');
  const replyForm = document.getElementById('reply-button');
    
  replyIcon.addEventListener('click', function() {
    replyForm.classList.toggle('hidden');
  });


  

</script>

</body>


</html>