{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Uni</title>
<link rel="stylesheet" href="{% static 'css/base_style.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
  
</style>
</head>


<body>

<nav class="bg-yellow-400 border-gray-200 dark:bg-gray-900 dark:border-gray-700">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="{% url 'home' %}" class="flex items-center space-x-3 rtl:space-x-reverse" style="text-decoration: none;">
        <span class="self-center text-2xl font-semibold whitespace-nowrap">MyUni</span>
    </a>
    <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-800 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" id="menu-icon" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-user">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 ">
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'profile' profile.user.username %}" class="block py-2 px-3 text-white bg-black rounded md:bg-transparent md:text-white md:p-0" aria-current="page" style="text-decoration: none;"><i class="fas fa-user mr-2 text-lg md:text-xl"></i><span class="md:hidden">{{ user.username }}</span></a>
        </li>
        <li>
          <a href="{% url 'logout_user' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0" style="text-decoration: none;"><i class="fas fa-sign-out-alt mr-2 text-lg md:text-xl"></i><span class="md:hidden">Logout</span></a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'login_user' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0" style="text-decoration: none;"><i class="fas fa-sign-in-alt mr-2 text-lg md:text-xl"></i><span class="md:hidden">Login</span></a>
        </li>
        <li>
          <a href="{% url 'signup' %}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0" style="text-decoration: none;"><i class="fas fa-user-plus mr-2 text-lg md:text-xl"></i><span class="md:hidden">Sign Up</span></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


  {% block content %}
  {% endblock %}



<!--script file-->
<script>
  $(function() {
    $(".toggle").on("click", function() {
      if($(".item").hasClass("active")){
        $(".item").removeClass("active");
      }
      else{
        $(".item").addClass("active");
      }
    })
  }); 

var map = L.map('map');
map.setView([15.117569258172438, 104.90279805091271], 13);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
  maxZoom: 19,
  attribute: '© OpenStreetMap'
}).addTo(map);

navigator.geolocation.watchPosition(success, error);

let marker, zoomed;

function success(pos) {

    const lat = pos.coords.latitude;
    const lng = pos.coords.longitude;

    if (marker) {
        map.removeLayer(marker);
    }

    marker = L.marker([lat, lng]).addTo(map);
    
}

function error(err) {

    if (err.code === 1) {
        alert("Please allow geolocation access");
    } else {
        alert("Cannot get current location");
    }
}

var places = {{ places_data|safe }};

map.on('contextmenu', function(e) {
  var latlng = e.latlng;
  var lat = latlng.lat;
  var lng = latlng.lng;

  var popupContent = "Latitude: " + lat + "<br>Longitude: " + lng;
  var addPlaceUrl = "{% url 'add_new_place' %}?lat=" + lat + "&lng=" + lng;
  L.popup()
      .setLatLng(latlng)
      .setContent(popupContent + '<br><button><a href="' + addPlaceUrl + '">Add This Place</a></button>')
      .openOn(map);
});

var defaultIcon = L.icon({
  iconUrl: '{% static "images/marker-blue.png" %}',
  iconSize: [20, 20],
  iconAnchor: [19, 20],
  popupAnchor: [0, -20]
});

var eventIcon = L.icon({
  iconUrl: '{% static "images/pin1.png" %}',
  iconSize: [20, 20],
  iconAnchor: [19, 20],
  popupAnchor: [0, -20]
});

places.forEach(place => {
  var popupContent = '<strong>' + place.name + '</strong><br>';
  if (place.detail) {
    popupContent += place.detail + '<br>';
  }

  //check ongoing event
  var EventsOngoing = false;
  places.forEach(data => {
    if (data.id === place.id && data.events_ongoing.length > 0) {
      EventsOngoing = true;
    }
  })

  var icon = EventsOngoing ? eventIcon : defaultIcon;

  popupContent += '<button><a href="{% url "feed" %}?id=' + place.id + '" class="post-feed-link">เยี่ยมชม</a></button>';
  L.marker(place.location, { icon: icon })
        .addTo(map)
        .bindPopup(popupContent);

});


//navbar icon
const menuIcon = document.getElementById('menu-icon');
const userMenu = document.getElementById('navbar-user');

menuIcon.addEventListener('click', function() {
  userMenu.classList.toggle('hidden');
});

</script>

</body>
</html>


