{% extends 'home/base.html' %}
{% block content %}

<br>
<div class="p-8 bg-orange-600 w-96 mx-auto">
  <div class="text-center">
    <h1 class="text-center text-3xl font-semibold mb-4">Login</h1>
    <form method="POST" class="mx-auto max-w-md" action="{% url 'login_user' %}">
        {% csrf_token %}
       
        <div class="mb-4">
          {{ form.username }}
        </div>
        <div class="mb-4">
          {{ form.password }}
        </div>
        <button type="submit" class="bg-teal-600 text-white py-2 px-4 rounded">Login</button>
    </form>
  </div>
</div>


{% endblock%}