<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create Post Page</title>
</head>
<body class="bg-yellow-50 min-h-screen flex items-center justify-center">
    <div class="bg-yellow-400 max-w-lg p-8 rounded shadow-xl w-full">
        <div class="">
            <h1 class="text-3xl text-center text-white font-bold mb-4">สร้างโพสต์</h1>
            <div class="bg-white bg-opacity-50 rounded p-2">
                <form method="post" action="" enctype="multipart/form-data" class="space-y-4">
                    {% csrf_token %}
                    <div>
                        <label for="title" class="block text-sm font-medium text-gray-700">หัวข้อ:</label>
                        <input type="text" id="title" name="title" required class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <div>
                        <label for="content" class="block text-sm font-medium text-gray-700">เนื้อหา:</label>
                        <textarea id="content" name="content" required rows="3" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"></textarea>
                    </div>
                    <div>
                        <label for="image" class="block text-sm font-medium text-gray-700">เพิ่มรูปภาพ:</label>
                        <input type="file" id="image" name="image" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <div>
                        <button type="submit" class="w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-black hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2">สร้างโพสต์</button>
                    </div>
                </form>
            </div>
            <div class="text-md text-center pt-4">
                <a href="{% url 'feed' %}?id={{ place_id }}" class="text-white">ย้อนกลับ</a>
            </div>
        </div>

    </div>
</body>
</html>